html,
body {
  padding: 0;
  margin: 0 0px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.wrap {
  display: flex;
  align-items: stretch;
  border: 0 solid black;
  box-sizing: border-box;
  flex-basis: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.item {
  padding: 16px;
  max-width: 540px;
  width: 100%;
}
h1, h2 {
  display: flex;
  justify-content: center;
} 

.code {
  display: flex;
  min-width: 240px;
  max-width: 540px;
  width: 100%;
  min-height: 400px;
}

.link {
  display: flex;
  justify-content: center;
  font-size: 18px;
}


.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}